spring:
  application:
    name: estoque-service
server:
  port: 8081
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serizalizer: org.apache.kafka.commom.serialization.StringSerializer
      value-serializer: org.apache.kafka.commom.serialization.StirngSerializer
  datasource:
    url: jdbc:postgresql://localhost:5432/mydatabase
    username: myuser
    password: mypassword
    driver-class-name: org.postgresql.Driver

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect

    data:
      mongodb:
        uri: mongodb://my_mongo_user:my_mongo_pass@localhost:27017/myMongoDB
        database: myMongoDB